<div id="footerwrap">
	<div id="footer">
		<div class="one">
			<h3>Contact</h3>
			<ul>
				<li><a href="mailto:collectiverealms@gmail.com">email</a></li>
			</ul>
		</div>
		<div class="two">
			<h3>Browse By</h3>
			<ul>
				<li><a href="http://collectiverealms.com/category/fantasy.html">Fantasy</a></li>
				<li><a href="http://collectiverealms.com/category/sci-fi.html">Science Fiction</a></li>
			</ul>
		</div>
		<div class="three">
			<img src="https://github.com/collectiverealms/collectiverealms/blob/master/assets/logo-plain.png?raw=true" alt="Logo">
		</div>
		<div class="copyright">
			<p>Collective Realms Magazine © 2018 Lazy Adventurer Publishing. Spellbook logo by Chanut is Industries. Hosted on GitHub Pages.</p>
		</div>
		
		  
				  
	</div>
</div>
