<div id="footerwrap">
	<div id="footer">
		<div class="one">
			<h3>Contact</h3>
			<ul>
				<li><a href="mailto:prismatica.mag@gmail.com">email</a></li>
			</ul>
		</div>
		<div class="two">
			<h3>Browse By</h3>
			<ul>
				<li><a href="https://prismaticamagazine.com/category/fantasy.html">Fantasy</a></li>
				<li><a href="https://prismaticamagazine.com/category/sci-fi.html">Science Fiction</a></li>
				<li><a href="https://prismaticamagazine.com/category/poetry.html">Poetry</a></li>
			</ul>
		</div>
		<div class="three">
			<img src="https://github.com/lazyadventurerpublishing/prismatica/blob/master/assets/prismatica-p.png?raw=true" alt="Logo">
		</div>
		<div class="copyright">
			<p>Prismatica Magazine © 2018 Lazy Adventurer Publishing. Hosted on GitHub Pages.</p>
		</div>
		
		  
				  
	</div>
</div>
