<div id="leftcolumnwrap">
          <div id="leftcolumn">
                    <h3>READ ALL ABOUT IT</h3>
                    <h4><a href="http://collectiverealms.com/news/2018-07-01-Evil-Romance">Evil Romance Upon the Astral Sea?</a></h4>
                    <h4>Dragons spotted near dragon rider to the surprise of nobody</h4>
                    <h4>What Tarek Al'Amir doesn't want you to know about the First Sun.</h4>
                    <h4>The gods have forsaken us, find out why here!</h4>
                    <h4>Raide, Revenant or barghast? The answer will surprise you</h4> 
        </div>
</div>
        
