<div id="navigationwrap">
          <div id="navigation">
  		<nav>
			<ul>
				<li><a href="https://lazyadventurerpublishing.github.io/prismatica/">Home</a></li>
				<li><a href="https://lazyadventurerpublishing.github.io/prismatica/about">About</a></li>
				<li><a href="https://lazyadventurerpublishing.github.io/prismatica/articles">Articles</a></li>
				<li><a href="https://lazyadventurerpublishing.github.io/prismatica/submissions">Submissions</a></li>
				<li><a href="https://lazyadventurerpublishing.github.io/prismatica/podcast">Podcast</a></li>
			</ul>
		</nav>
	</div>
</div>
