 <div id="rightcolumnwrap">
        <div id="rightcolumn">
                <h3>Follow Us On</h3>
                <a href="https://www.facebook.com/collectiverealms/"><img src="https://github.com/collectiverealms/collectiverealms/blob/master/assets/media-logos/facebook-logo.png?raw=true" class="logo" alt="Facebook Logo"></a>
                <a href="https://twitter.com/CollectiveRealm"><img src="https://github.com/collectiverealms/collectiverealms/blob/master/assets/media-logos/twitter.png?raw=true" class="logo" alt="Twitter Logo"></a>
                <a href="https://collectiverealms.tumblr.com/"><img src="https://github.com/collectiverealms/collectiverealms/blob/master/assets/media-logos/tumblr-logo.png?raw=true" alt="Tumblr Logo" class="logo"></a>
            
                <h3>Find the Collective</h3>
            <p><a href="http://weareadventurers.tumblr.com/">ON TUMBLR</a></p>
            <p><a href="https://weareadventurers.wikia.com/wiki/We_Are_Adventurers_Wiki">ON WIKIA</a></p>
            
            
  
    
</div>
        
