 <div id="rightcolumnwrap">
        <div id="rightcolumn">
                <h3>Follow Us On</h3>
                <a href="https://www.facebook.com/collectiverealms/"><img src="https://github.com/collectiverealms/collectiverealms/blob/master/assets/media-logos/facebook-logo.png?raw=true" class="logo" alt="Facebook Logo"></a>
                <a href="https://twitter.com/PrismaticaMag"><img src="https://github.com/collectiverealms/collectiverealms/blob/master/assets/media-logos/twitter.png?raw=true" class="logo" alt="Twitter Logo"></a>
                <a href="https://prismaticamagazine.tumblr.com/"><img src="https://github.com/collectiverealms/collectiverealms/blob/master/assets/media-logos/tumblr-logo.png?raw=true" alt="Tumblr Logo" class="logo"></a>
</div>
        
